.header.rwp
  %a.brand.left{:href => "#"} re:Wikipedia

  .search-box
    %input.search.left{type: "text", name: "search", placeholder: "Search..."}

  .right
    %a.btn.dropdown-toggle.dropdown-toggle-toc.left{:href => "#", :title => "Table of Contents", "data-dropdown" => ".dropdown-toc"}
      %i.ss-icon rows
    %ul.dropdown-menu.dropdown-toc.ui-menu will be placed here by js

    %a.btn.btn-share.dropdown-toggle.left{:href => "#", :title => "Share this Article", "data-dropdown" => ".dropdown-share"}
      %i.ss-icon heart

    %ul.dropdown-menu.dropdown-share.ui-menu

    %a.btn.btn-edit.left{href: "#edit", :title => "Edit this Article"}
      %i.ss-icon write

    %a.btn.dropdown-toggle.left{:href => "#",  "data-dropdown" => ".dropdown-user"}
      %i.ss-icon home
    %ul.ui-menu.dropdown-menu.dropdown-user
      %li.ui-menu-item
        %a.enable-facebook-activity-sharing{href: "#"}
          %span.ss-social-icon facebook
          Facebook Activity Sharing
          %span.facebook-activity-sharing-state (off)
      %li.ui-menu-item
        %a{href: "http://en.wikipedia.org/wiki/Special:Preferences"}
          %span.ss-icon settings
          Preferences

        %ul
          %li
            %a{href: "http://en.wikipedia.org/wiki/Special:Preferences"}
              %span.ss-icon settings
              Pref3
          %li
            %a{href: "http://en.wikipedia.org/wiki/Special:Preferences"}
              %span.ss-icon settings
              Pref3

      %li.ui-menu-item
        %a{href: "http://en.wikipedia.org/w/index.php?title=Special:UserLogout&noreturnto"}
          %span.ss-icon user
          Logout
