.header.ency
  %a.brand.left{:href => "http://ency.cl/opedia"} Ency.cl/opedia
  .ency-flash-message

  .ency-onboarding{:style => "display: none;"}
    %a.ency-overlay-close{:href => "#"}
      .ss-icon close

  .search-box
    %form.search-form{:action => "/search"}
      %input.search.left{type: "text", name: "q", placeholder: "Search..."}

  .right
    %a.btn.dropdown-toggle.dropdown-toggle-toc.left{:href => "#", :title => "Table of Contents", "data-dropdown" => ".dropdown-toc"}
      %i.ss-icon rows
    %ul.dropdown-menu.dropdown-toc.ui-menu will be placed here by js

    %a.btn.btn-share.dropdown-toggle.left{:href => "#", :title => "Share this Article", "data-dropdown" => ".dropdown-share"}
      %i.ss-icon heart

    %ul.dropdown-menu.dropdown-share.ui-menu

      %li
        %a.ency-share-facebook-activity{:href => "#"}
          %span.ss-social-icon facebook
          Activate Facebook Activity Sharing

    %a.btn.btn-edit.left{href: "#edit", :title => "Edit this Article", :target => "_blank"}
      %i.ss-icon write

    %a.btn.dropdown-toggle.left.hidden{:href => "#",  "data-dropdown" => ".dropdown-user"}
      %i.ss-icon home
    %ul.ui-menu.dropdown-menu.dropdown-user
      %li.ui-menu-item
        %a.enable-facebook-activity-sharing{href: "#"}
          %span.ss-icon check
          Enable Facebook Activity Sharing

      %li.ui-menu-item.ency-encycl-only.hidden
        %a{href: "#"}
          %span.ss-icon cloudupload
          Install On Wikipedia

      %li.ui-menu-item.ency-wikipedia-only.hidden
        %a{href: "http://en.wikipedia.org/wiki/Special:Preferences"}
          %span.ss-icon settings
          Your Preferences

      %li.ui-menu-item.hidden
        %a{href: "http://en.wikipedia.org/w/index.php?title=Special:UserLogout&noreturnto"}
          %span.ss-icon user
          Logout
