.header.ency
  %a.brand.left{:href => "http://ency.cl/opedia"} Ency.cl/opedia
  .ency-flash-message

  .ency-onboarding{:style => "display: none;"}
    %a.ency-overlay-close{:href => "#"}
      .ss-icon close

  .search-box
    %form.search-form{:action => "/search"}
      %input.search.left{type: "text", name: "q", placeholder: "Search..."}

  .right
    %a.btn.dropdown-toggle.dropdown-toggle-toc.left{:href => "#", :title => "Table of Contents", "data-dropdown" => ".dropdown-toc"}
      %i.ss-icon rows
    %ul.dropdown-menu.dropdown-toc.ui-menu will be placed here by js

    %a.btn.btn-share.dropdown-toggle.left{:href => "#", :title => "Share this Article", "data-dropdown" => ".dropdown-share"}
      %i.ss-icon heart

    %ul.dropdown-menu.dropdown-share.ui-menu

    %a.btn.dropdown-toggle.left{:href => "#",  "data-dropdown" => ".dropdown-user"}
      %i.ss-icon home
    %ul.ui-menu.dropdown-menu.dropdown-user
      %li
        %a.ency-share-facebook-activity{:href => "#"}
          %span.ss-social-icon facebook
          Activate Facebook Activity Sharing
      %li.ui-menu-item
        %a.ency-wp-link{href: ""}
          %span.ss-icon layout
          Read this article on Wikipedia
      %li.ui-menu-item
        %a.ency-edit-link{href: ""}
          %span.ss-icon write
          Edit this article on Wikipedia
