!!!
%html
  %head
    %title Ency.cl/opedia
    %link{:rel => 'stylesheet', :href => "/assets/wikipedia.css"}
    %script{:src => "/assets/rwp.js"}
  %body.encycl-page
    #fb-root
    #content
      = yield