-#:javascript
-#  e = document.createElement('link');
-#  e.rel = "stylesheet";
-#  e.type = "text/css";
-#  e.href = "<%= root_url %>assets/all.css";
-#  document.head.appendChild(e)
-#  importScriptURI('<%= root_url %>assets/all.js');

%script{:src => [root_url, "assets/all.js"].join("/")}
%meta{:property => 'og:title',        :content => title}
%meta{:property => 'og:description',  :content => description}
%meta{:property => 'og:site_name',    :content => "Wikipedia"} 
%meta{:property => 'og:url',          :content => url}
%meta{:property => 'og:type',          :content => "article"}
%meta{:property => 'og:image',        :content => image}
