%link{:rel => 'stylesheet', :href => [root_url, "assets/wikipedia.css"].join("/")}
%script{:src => [root_url, "assets/rwp.js"].join("/")}

%meta{:property => 'og:title',        :content => title}
%meta{:property => 'og:description',  :content => description}
%meta{:property => 'og:site_name',    :content => "Ency.cl/opedia"}
%meta{:property => 'og:url',          :content => url}
%meta{:property => 'og:type',         :content => "ency-cl-opedia:wikipedia_article"}
%meta{:property => 'og:image',        :content => image}
