#mw-panel
  display: none

#content
  margin: 35px 0 0 0 !important
  overflow: hidden

#footer, #mw-page-base, #mw-head, #siteSub, #mw-head-base
  display: none

.bs
  h1, h2, h3, h4, h5, h6
    margin: 0
    padding: 0!important
    overflow: inherit

#contentSub, #toctitle, .topicon
  display: none!important

.dropdown-menu
  max-height: 300px
  overflow-y: auto

#toc
  display: none

body
  background-image: url(/images/background.png) !important

#content
  background: inherit!important